@media all and (max-width: 600px) {
  .about_user {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .actions {
    gap: 0px;
  }
}

@media all and (min-width: 600px) {
  .about_user {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
  }
  .actions {
    gap: 10px;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.info {
  margin-top: 20px;
  width: 120px;
  word-wrap: break-word;
}
