.menu {
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  width: 140px;
  padding: 1rem;
  background-color: #f1e9f3;
  border: 1px solid rgb(60, 60, 60);
  border-radius: 1rem;
  opacity: 0;
  transform: translateY(-1rem);
  visibility: hidden;
  transition: 0.3s;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
  padding-top: 0.3rem;
}

.menu.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
