.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрируем содержимое по горизонтали */
  padding: 20px; /* Отступы вокруг содержимого */
}

.image_container {
  display: flex;
  justify-content: center; /* Центрируем изображение */
  width: 100%; /* Ширина контейнера для изображения */
}

img {
  max-width: 100%; /* Ограничиваем ширину изображения до 100% от родительского контейнера */
  height: auto; /* Сохраняем пропорции изображения */
  display: block; /* Убираем отступы снизу у изображения */
}

/* Новый класс для заголовка только для этой страницы */
.centered_title {
  margin-top: 10px; /* Отступ сверху для заголовка */
  font-size: 24px; /* Размер шрифта заголовка */
  color: #333; /* Цвет текста заголовка */
  text-align: center;
}
