.header {
  background-color: var(--sb-main-color);
  height: 3.5rem;
  min-height: 3.5rem;
  display: flex;
  align-items: center;
  z-index: 100;
  width: 100%;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.4);
  -webkit-user-select: none;
  user-select: none;
}

.brand-container p,
.nav-buttons-container button,
.bars-container i,
.search-container i {
  color: white;
}

.brand-container a {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

.brand-container {
  align-items: center;
  display: flex;
  margin-left: 1rem;
}

.brand-container img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}

.brand-container p,
.header i {
  font-size: 1.3rem;
}

.search-container {
  margin: auto;

  nav {
    right: calc(-100vw * 0.22) !important;
    width: calc(100vw * 0.5) !important;
    padding: 0 !important;
    border-radius: 0.5rem !important;

    input {
      width: 100%;
      border: 1px solid var(--sb-input-border-color);
      border-radius: 0.5rem;
      height: 2rem;
    }
  }
}

.nav-buttons-container button,
.bars-container {
  margin-right: 0.5rem;
}

.avatar-container {
  margin-right: 1rem;
  height: 2rem;
  min-width: 2rem;
}

.avatar-container img {
  width: 100%;
  border-radius: 0.5rem;
  height: 100%;
  cursor: pointer;
}

.bars-container {
  display: none;
}

.search-container,
.avatar-container,
.bars-container {
  position: relative;
}

.header-dropdown-menu * {
  width: 100%;
  text-align: center;
}

@media (max-width: 650px) {
  .nav-buttons-container {
    display: none;
  }

  .bars-container {
    display: block;
  }

  .brand-container p {
    font-size: calc(100vw * 2.5 / 75);
  }
}
